.headshot {
    width: 20%;
    height: auto;
    margin: auto;
    padding-right: 10px;
    flex-wrap: wrap;
}

.intro {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    flex-wrap: wrap;
}

p {
    max-width: 100%;
}

.linkedin {
    width: 15%;
    height: auto;
    display:flex;
    justify-content:flex-end;
    padding-right: 5px;
}

footer {
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items:center;
    background-color: white;
}

.introinfo {
    display: flex;
    flex-direction: column;
}

.articles {
    font-size:0.8em;
    padding-bottom: 10px;
}

.indent {
    padding-left: 25px;
    padding-bottom: 10px;
}

.resumelink {
    padding-top: 10px;
    padding-bottom: 10px;
}
