.headshot {
    width: 20%;
    height: auto;
    padding-right: 10px;
}

.intro {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    max-width: 100%;
}

.linkedin {
    width: 15%;
    height: auto;
    display:flex;
    justify-content:flex-end;
}

footer {
    display:flex;
    align-items:flex-end;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items:center;
}

.introinfo {
    display: flex;
    flex-direction: column;
}